.mat-grid-list{
  margin: 20px;
}
mat-grid-tile .mat-figure {
  justify-content: flex-start!important ;
  align-items: flex-start!important;
  height: 300px!important;

}

mat-grid-tile {
  border-radius: 4px !important;
}
.container{
  margin: 15px;
}
.spacing {
  padding-top:50px;
}


//FlexGrid
  .parent {height: 100px;}


mat-card {
  margin: 20px;
  width:auto;
}
.mat-card.mat-card{
  width:auto;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.titles {
  margin-left:20px;
}
.label {
  color: black;
  font-size: 14px;
  font-weight: normal;
}
.heading{
height: 30px;
background-color: #626f66;
margin-top: -16px!important;
margin-left: -17px;
margin-right: -17px;
border-radius: 3px;
}
:host {
  display: block;
  padding: 4px 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
}
