<div class="container">

  <div class="titles">
    <h1>Form Elements</h1>
    <h4>Using Angular Material to style Form Elements
    </h4>
  </div>
  <div class="flex-container" fxLayout="column">
    <mat-card class="child-1 label">
      <label id="example-radio-group-label" class="label">OPHIS Dark Theme &nbsp;&nbsp; </label>
      <input id="darkTheme" type="checkbox" [formControl]="darkTheme">


    </mat-card>
  </div>
</div>

<div class="container">
  <div class="titles">
    <h1>Angular Flex Grid</h1>
    <h4>Responsive Grid System
    </h4>
  </div>

  <div class="parent flex-card-height" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="32px" fxFill>
    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="left"
           *ngFor="let tile of tiles">
        {{tile.text}}
        <app-autocomplete *ngIf="tile.componentName === 'autocomplete'" class="spacing"></app-autocomplete>
      </div>
    </mat-card>

    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="right"
           *ngFor="let tile of tiles">
        {{tile.text}}
        <app-checkbox *ngIf="tile.componentName === 'checkbox'" class="spacing"></app-checkbox>
      </div>
    </mat-card>
  </div>


  <div class="parent flex-card-height" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="32px" fxFill>
    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="left"
           *ngFor="let tile of tiles">
        {{tile.text}}
        <app-datepicker *ngIf="tile.componentName === 'datepicker'" class="spacing"></app-datepicker>
      </div>
    </mat-card>

    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="right"
           *ngFor="let tile of tiles">
        {{tile.text}}
        <app-formfield *ngIf="tile.componentName === 'formfield'" class="spacing"></app-formfield>
      </div>
    </mat-card>
  </div>


  <div class="parent flex-card-height" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="32px" fxFill>
    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="left"
           *ngFor="let tile of tiles">
        {{tile.text}}
        <app-radiobutton *ngIf="tile.componentName === 'radiobutton'" class="spacing"></app-radiobutton>
      </div>
    </mat-card>

  <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="right"
           *ngFor="let tile of tiles">
        {{tile.text}}
        <app-select *ngIf="tile.componentName === 'select'" class="spacing"></app-select>
      </div>
    </mat-card>
  </div>



  <div class="parent flex-card-height" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="32px">
    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="left"
           *ngFor="let tile of tiles">
        {{tile.text}}
        <app-slider *ngIf="tile.componentName === 'slider'" class="spacing"></app-slider>
      </div>
    </mat-card>

  <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="right"
           *ngFor="let tile of tiles">
        {{tile.text}}
        <app-slidetoggle *ngIf="tile.componentName === 'slidetoggle'" class="spacing"></app-slidetoggle>
      </div>
    </mat-card>
  </div>
</div>



