.mat-grid-list{
  margin: 48px;
}
mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;

}
mat-grid-tile {
  background: rgb(239, 239, 239);

}
mat-grid-tile {
  border-radius: 4px !important;
}
.container{
  margin: 15px;
}
