<div class="container">

  <div class="titles">
    <h1>Navigation</h1>
    <h4>Using Angular Material Navigation elements
    </h4>
  </div>
  <div class="flex-container" fxLayout="column">
    <mat-card class="child-1 label">

      <label id="example-radio-group-label" class="label">OPHIS Dark Theme</label>
      <label for="darkTheme"></label><input id="darkTheme" type="checkbox" [formControl]="darkTheme">

    </mat-card>
  </div>
</div>

<div class="container">
  <div class="parent flex-card-height" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="32px" fxFill>
    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="left">
        <app-menu></app-menu>
      </div>
    </mat-card>
    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="right">
        <app-sidenav></app-sidenav>
      </div>
    </mat-card>
  </div>

</div>

<div class="container">
  <div class="parent flex-card-height" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="32px" fxFill>
    <mat-card fxFlex="50%" fxFill>
      <div class="mat-card-title heading"></div>
      <div class="left">
        <app-toolbar></app-toolbar>
      </div>
    </mat-card>

    <div class="empty" fxFlex="50%" fxFill>
      <div class="right">
      </div>
    </div>
  </div>
</div>
