/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'assets/fonts/Roboto.css';
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:host {
  display: block;
  padding-right: 32px;
  padding-top:22px;
  padding-bottom:32px;
  background-color: var(--primary-color);
  color: var(--text-color);
}
:root {
  --primary-color: white;
  --background-color: white;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}
h4 {
  color: rgba(0,0,0,.54);
  font-size: 14px;
  font-weight: normal;
}
.box-title{
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin-top: -30px;
}

.container{
  margin: 15px;
}

.heading{
  height: 30px;
  background-color: #626f66;
  margin-top: -16px!important;
  margin-left: -17px;
  margin-right: -17px;
  border-radius: 3px;
}

.empty {
  padding-left:90px;
}

.label {
  color: black;
  font-size: 14px;
  font-weight: normal;
}
.spacing {
  padding-top:50px;
}
.titles {
  margin-left:20px;
}

//Material
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary,
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
 background-color:#31ADE3
}
.mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  background-color:#31ADE3
}
.mat-progress-spinner circle {
  stroke: #2CC934B3;
}
mat-grid-tile {
  border-radius: 4px !important;
}
mat-card {
  margin: 20px;
  width:auto;
}
.mat-card.mat-card{
  width:auto;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  font-size: 15px;
}
.mat-radio-label {
  font-size: 14px !important;
}

//FlexGrid
.parent {height: 100px;}

